extends ./common/layout

block header
    title Abridme paso que me caso!

block content
    +header()
    h2.title ¡Hola #{user.originalUsername}!
    p.flow-text Utiliza el menu superior para moverte entre las secciones de la página. Estas son las secciones de la página:
    br
    h4 Lista de regalos
    p.flow-text Podrás ver todos los regalos que hay disponibles y elegir cuáles quieres regalar
    br
    h4 Mi cuenta
    p.flow-text Una vez hayas elegido lo que quieres regalar acude a 'Mi cuenta' para saber cómo pagar, quitar regalos de la lista, etc.

    br
    h4 Comentarios
    p.flow-text Podrás ver lo que otros invitados han publicado y podrás publicar un comentario tu mismo. Puedes utilizarlo para recomendar canciones para la boda o para felicitar a los novios.


    //ul.flow-text
        li
            strong - Lista de regalos
            = ' '
            span Podrás ver todos los regalos que hay disponibles y elegir cuáles quieres regalar
        li
            strong - Tu cuenta
            = ' '
            span Una vez hayas elegido lo que quieres regalar acude a 'Tu cuenta' para saber cómo pagar, quitar regalos de la lista, etc.
