extends ./common/layout

block header
    title Registrarme - Abridme paso que me caso!

block body
    .container
        .row
            .col.m6.offset-m3.center-align
                h1 Regístrate
                p Introduce una descripción de quién o quiénes sois, nombre de usuario y contraseña
        .row
            .col.s12.m4.offset-m4
                form(method='post')
                    +inputField('text', 'description', 'Descripción')
                    +inputField('text', 'username', 'Nombre de usuario')
                    +inputField('password', 'password', 'Contraseña')
                    if (error)
                        +alert('error')
                            = error.message
                    +button('Registrarse')(type='submit')

