extends ../common/layout

block body
    .container
        .row
            .col.m8.offset-m2.center-align
                h2= gift.name
                img.responsive-img(src=gift.image)
                p= gift.description
                p Stock: #{gift.stock}

